@font-face {
    font-family: JetBrainsMono;
    src: url('./JetBrainsMono-Regular.woff2') format("woff2");
}

.center {
    text-align: center;
}
.main {
    position: relative;
}

.background {
    /* width: 100%;
    height: 100%; */
    text-align: center;
    font-size: 24px;
    color: hsla(0, 0%, 100%, 0.5);
    /* transform: translate(-50%, -50%); */
}


table {
    border: 1px solid black;
}

input {
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 5px;
    background: hsl(0, 0%, 7%);
}


*:not(.katex):not(.katex *):not(.cm-content):not(.cm-content *):not(.cm-gutters):not(
        .cm-gutters *
       ) {
    font-family: JetBrainsMono;
    color: hsl(0, 0%, 77%);
}
body {
    background-image: linear-gradient(to bottom , rgb(16, 16, 16), rgb(37, 37, 37)) !important;
    min-height: 100vh;
    
}
.katex-html {
    display: none;
}
a:-webkit-any-link {
    color: hsl(120, 100%, 41%) !important;
}
.katex-display {margin: 10px;
}