@font-face {
    font-family: JetBrainsMono;
    src: url('./JetBrainsMono-Regular.woff2') format("woff2");
}
* {
    font-family: JetBrainsMono;
}
table {
    border: 1px solid black;
}

input {
    border: 2px solid black;
    border-radius: 5px;
    background: #eeeeee;
}